goodreads/operation_log.txt
hunting/operation_log.txt
grenzpolizei/operation_log.txt
seen/operation_log.txt
kill/operation_log.txt
lastfm/operation_log.txt
games/operation_log.txt
statistics/operation_log.txt
away/operation_log.txt
operation_log.txt